body { 
	background:#232323;
	margin:0;
	font-family: "Monserrat","Avenir";
 }


 .squre { 
 			width:30%;
 			background: purple;
 			padding-bottom: 30%;
 			float: left;
 			margin: 1.66%;
 			border-radius: 15%;
 			transition: background 0.6s;
 			--webkit-transition: background 0.6s;
 			-moz-transition: background 0.6s;
 		 }

 #container  { 
 				margin: 20px auto;
 				max-width: 600px;
 			 }

 h1  {
  padding: 20px 0;
  line-height: 1.1;
  text-align: center;
  color: white;
  background: steelblue;
  margin:0;
  font-weight: normal;
  text-transform: uppercase;
}


#color { 
			font-size: 200%;
		 }

 #stripe { 
 	background: white;
 	height: 30px;
 	text-align: center;
 	color:black;
  }



  .selected { 
  background: blue;

   }


#message { 
	display: inline-block;
	width: 20%;
 }

  button { 
  	border: none;
  	background: none;
  	text-transform: uppercase;
  	height: 100%;
  	font-weight: 700;
  	color:steelblue;
  	letter-spacing: 1px;
  	font-size: inherit;
  	transition: all 0.3s;
  	--webkit-transition: all 0.3s;
 	-moz-transition: all 0.3s;
 	outline: none;	
   }

   button:hover { 

   	color: white;
   	background: steelblue;

    }